* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 25, 39);
}

/* Container */

main {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 5px;
}

/* Cabeçalho */

.cabecalho {
    text-align: center;
    color: white;
    background-color: rgba(51, 51, 51, 0.15);
    box-shadow: 3px 2px 5px rgba(17, 17, 17, 0.55);
    backdrop-filter: blur(8px);
    padding: 20px;
}

.cabecalho h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.cabecalho p {
    font-size: 1.2em;
}

/* Campo valores */

.valores {
    padding: 10px;
    background-color: rgb(121, 121, 106);
    text-align: center;
}

.valores label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
}

.valores input {
    background-color: rgb(61, 61, 54);
    color: white;
    font-weight: bold;
    /* margin-top: 20px; */
    /* margin-right: 10px; */
    border-radius: 2px;
    border: none;
    max-width: 100%;
    padding: 20px;
    display: block;
    margin: 10px auto;
}

.valores input:focus {
    background-color: rgb(51, 51, 51);
}

.valores button {
    cursor: pointer;
    border: none;
    width: 220px;
    margin: auto;
    display: block;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    background-color: rgb(36, 65, 65);
    border-radius: 2px;
    border: 1px solid black;
}

.valores button:hover {
    background-color: rgb(3, 100, 100);
    border: 1px solid rgb(255, 255, 255);
}

/* Campo resultado */


#campoResultado {
    display: none;
    background-color: rgb(17, 17, 17);
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 0px 0px 4px 4px;
}

#resultDesc  {
    padding: 20px;
    color: rgb(255, 255, 255);
}

/* Rodapé */

footer {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}